[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-cors = "*"
flask-mail = "*"
psycopg2-binary = "*"
marshmallow-sqlalchemy = "*"
PyJWT = "*"

[dev-packages]

[requires]
python_version = "3.13"
